/* Cart.css */

.cart-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

cart-title {
  font-size: 2em;
  margin-bottom: 20px;
}

cart-item-list-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cart-item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  transition: transform 0.3s ease;
}

.cart-item:hover {
  transform: translateY(-5px);
}

.cart-item-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.cart-item-name {
  font-size: 1.2em;
  margin: 10px 0;
}

.cart-item-prices {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cart-item-price-new {
  font-size: 1.5em;
  font-weight: bold;
  color: #28a745;
}

@media (min-width: 768px) {
  .cart-item-list {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .cart-item {
    width: calc(50% - 20px);
  }
}

@media (min-width: 992px) {
  .cart-item {
    width: calc(33.33% - 20px);
  }
}

@media (min-width: 1200px) {
  .cart-item {
    width: calc(25% - 20px);
  }
}
