.item {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
   
  }
  
  .item:hover {
    transform: translateY(-5px);
  }
  
  .item p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .item-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  .item-prices {
    font-size: 20px;
    font-weight: bold;
    color: #ff4141;
    margin-bottom: 10px;
  }
  
  .item-timer {
    font-size: 16px;
    color: #666666;
  }
  