.item-page-wrapper {
  height: 100%;
  width: 50%;
  margin: 0 auto;
}

.item-page-content {
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 0;
}

.article-name-condition {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.article-name {
  font-size: 38px;
}

.article-condition {
  text-transform: uppercase;
}

.article-price {
  margin-top: 20px;
  color: green;
}

.highest-bid-number {
  color: green;
}

.green {
  color: rgb(87, 158, 87);
}

img {
  width: 100%;
}
