.item-page-wrapper {
  
  height: calc(100vh - 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: #0e0707;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  
}

.item-page-content {
  margin-top: 100px;
  padding: 20px ;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  min-height: 100%;
}


.item-page-content:hover{
  background: linear-gradient(360deg, #f27f96, #ffffff22 95%);
}


.article-name-condition {
  display: flex;
  
  justify-content: space-between;
  margin-top: 10px;
}

.article-name {

  
  font-size: 60px;
  margin-bottom: 20px;
}

.article-condition {
  text-transform: uppercase;
  font-size: 20px;
  color: #f27f96;
  
}

.article-price {
  margin-top: 20px;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highest-bid-number {
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green {
  color: rgb(87, 158, 87);
}

.slk {
  width: 100%;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh; 
}