.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.search-input {
  width: 80%;
  padding: 10px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
}

.search-button {
  padding: 10px 20px;
  height: 40px;
  border: none;
  background-color: #0064d2; /* eBay blue color */
  color: white;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
}

.search-button:hover {
  -color: #004a9c; /* Darker blue on hover */
}
.shop-container {
  height: 100vh;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  display: flex;
  flex-direction: row;
}

/* Item Styles */
.shop-container .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  width: 200px; /* Adjust width as needed */
  margin: 10px;
  transition: transform 0.3s;
  box-sizing: border-box; /* Include padding and border in width calculation */
}

.shop-container .item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.shop-container .item p {
  font-size: 18px;
  margin: 10px 0;
}

.shop-container .item-prices {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-container .item-price-new {
  font-size: 20px;
  color: green;
  font-weight: bold;
}

.shop-container .item-price-old {
  font-size: 16px;
  color: #999;
  text-decoration: line-through;
}

.shop-container .item:hover {
  transform: scale(1.05);
}

/* Item List Styles */
.item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust gap between items */
  justify-content: space-around; /* Distribute items evenly in rows */
  max-width: 1200px; /* Limit maximum width of the item list */
  margin: 0 auto; /* Center align the item list */
}

/* Responsive Adjustments */
@media screen and (max-width: 1200px) {
  .item-list {
    padding: 0 20px; /* Add padding on sides for spacing */
  }
}

@media screen and (max-width: 900px) {
  .item-list {
    flex-direction: column; /* Display items in a single column on smaller screens */
    align-items: center;
  }
}
